
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SmartShopperCheck</title>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <style>
        .haveSmartShopper {
            background-color: rgb(51, 102, 204);
            width: 233px;
            margin-right: 5px;
            font-weight: bold;
        }

            .haveSmartShopper a {
                color: #ffffff;
            }

            .haveSmartShopper > a:hover {
                background-color: rgb(51, 102, 204);
                color: rgb(51, 102, 204);
            }

        .dontHaveSmartShopper {
            background-color: rgb(167, 2, 64);
            width: 233px;
            font-weight: bold;
        }

            .dontHaveSmartShopper a {
                color: #ffffff;
            }

            .dontHaveSmartShopper > a:hover {
                background-color: rgb(167, 2, 64);
                color: rgb(167, 2, 64);
            }

        .SmartContent {
            margin-top: 100px;
            margin-left: 20%;
            width: 55%;
            padding: 10px;
            height: 400px;
            text-align: center;
        }

        .checkButtons {
            padding-left: 60px;
        }
        .onlineShoppingLink {
            background-color: rgb(167, 2, 64);
            margin: 5px;
            padding: 0px;
            color: #ffffff;
        }
        .onlineLink{
            color: #ffffff;
            font-weight: bold;
        }
        .onlineLink:hover {
            color: #ffffff;
            font-weight: bold;
        }
        .glyphicon-arrow-left {
            color: #ffffff;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">MJPnPMVC</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li class="onlineShoppingLink"><a asp-area="" asp-controller="Home" asp-action="#" class="onlineLink" style="color:#ffffff;"><span class="glyphicon glyphicon-arrow-left"></span> GO TO THE ONLINE SHOP</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="SmartContent">
            <h1>Welcome to Pick n Pay Online</h1>
            <br />
            <h2>Sign up with your Smart Shopper card to:</h2>

            <ul>Instantly shop your previous in-store purchases</ul>
            <ul type="square">Create shopping lists for faster shopping and checkout</ul>
            <ul type="square">View your personalised Smart Shopper discounts</ul>
            <div class="form-inline  checkButtons">
                <ul class="nav navbar-nav">
                    <li class="haveSmartShopper"><a asp-area="" asp-controller="Home" asp-action="RegisterSmartShopper">I HAVE A<br />SMART SHOPPER CARD</a></li>
                    <li class="dontHaveSmartShopper"><a asp-area="" asp-controller="Customers" asp-action="Create">I DONT HAVE A<br />SMART SHOPPER CARD</a></li>
                </ul>

            </div>
        </div>
    </div>

</body>
</html>
